<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csu.springframework.test.mybatis.dao.UserDao">

    <select id="queryUserInfoById" parameterType="java.lang.Long" resultType="com.csu.springframework.test.mybatis.po.User">
        SELECT id, user_id, user_name, user_head
        FROM user
        where id = #{id}
    </select>

</mapper>
