<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="userService" class="com.csu.springframework.test.factorybean.UserService">
        <property name="uId" value="01"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="com.csu.springframework.test.factorybean.ProxyBeanFactory"/>
</beans>